

body{
    margin: 0;
    padding: 0;
    background: rgb(241, 213, 176);
}

header{
    margin: 0;
    padding: 0;
    border-bottom: 2px solid #fff;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
header h3{
    font-family: 'Rubik', sans-serif;
    font-size: 25px;
}

.pf_title{
    border-bottom: 2px solid #fff;
    width: 100%;
    height: 350px;
}
.pf_title h1{
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 70px;
}
.pf_title h4{
    text-align: center;
    font-family: 'Rubik', sans-serif;
}
.pf_title li{
    list-style: none;
    font-family: 'Rubik', sans-serif;
    margin-top: 10px;
    text-align: center;
}
.pf_skills{
    width: 100%;
    height: 330px;
    border-bottom: 2px solid #fff;
}

.pf_skills h1{
    text-align: center;
    font-family: 'rubik',sans-serif;
}

.skills{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
}
.skills h3{
    font-family: 'Rubik', sans-serif;
    padding-left: 40px;
}
.skills li{
    list-style: none;
    font-size: 20px;
    font-family: 'rubik';
}
.skills_html{
    width: 350px;
    height: 200px;
    background-color: rgb(204, 219, 233);
    border-radius: 15px;
}
.skills_html_left{
    display: flex;
    flex-direction: column;
}

.skills_html_left img{
    padding-top: 30px;
    padding-left: 20px;
    height: 100px;
    width: 100px;
}

.skills_html li{
    margin-top: -150px;
    margin-left: 100px;
}

.skills_css{
    margin-left: 10px;
    width: 350px;
    height: 200px;
    background-color: rgb(204, 219, 233);
    border-radius: 15px;
}
.skills_css img{
    padding-top: 30px;
    padding-left: 20px;
    height: 100px;
    width: 100px;
}
.skills_css h3{
    padding-left: 45px;
}

.skills_css ul{
    margin-top: -150px;
}
.skills_css li{
    font-size: 17px;
    margin-top: 10px;
    margin-left: 90px;
}

.pf_works{
    width: 100%;
    height: 630px;
    border-bottom: 2px solid #fff;
}

.pf_works h1{
    text-align: center;
    font-family: 'rubik',sans-serif;
}

.pf_works_blocks{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pf_works_rsch{
    margin-left: 100px;
    display: flex;
    flex-direction: column;
}
.pf_works_rsch img{
    margin-top: 30px;
    width: 500px;
    height: 300px;
}
.pf_works_rsch h3{
    font-family: 'rubik', sans-serif;
    text-transform: uppercase;
    margin-left: 50px;
}

.pf_works_expo{
    margin-left: 10px;
}

.pf_works_expo img{
    width: 500px;
    height: 300px;
    margin-top: 30px;
}

.pf_works_expo h3{
    font-family: 'rubik', sans-serif;
    text-transform: uppercase;
    margin-left: 50px;
}

.pf_works h2{
    text-align: center;
    font-family: 'Rubik', sans-serif;
    margin-top: 20px;
}

footer h2, h3{
    font-family: 'Rubik', sans-serif;
    text-align: center;
    margin-left: 30px;
}

footer li{
    list-style: none;
    text-align: center;
}
footer a{
    font-family: 'rubik', sans-serif;
    text-decoration: none;
    margin-top: 20px;
}